<div class="container">
  <div class="jumbotron">
    <a href="/post"><button class="btn btn-lg btn-primary btn-block" >Voir les posts</button></a><br><br>
    <a href="/post/new"><button class="btn btn-lg btn-primary btn-block" >Send post</button></a><br><br>
    <a href="/notification"><button class="btn btn-lg btn-primary btn-block" >Send simple notification</button></a><br><br>
    <a href="/notification/troll"><button class="btn btn-lg btn-primary btn-block" >#AttentionCeciEstUnTroll</button></a><br><br>
    <a href="/logout"><button class="btn btn-lg btn-primary btn-block" >Log out</button></a>
  </div>
</div>
