<div id="content"></div>

<script type="text/babel">

class WashingComponent extends React.Component {

  render() {
    return (
      <div className="container">
        <p>Number of users</p>
      </div>
    );
  }
}


ReactDOM.render(
  <WashingComponent/>,
  document.getElementById('content')
);
</script>
