<div id="content"></div>

<script type="text/babel">

  var NotificationComponent = React.createClass({

    getInitialState: function() {
      return {
      loading: true
      }
    },

    componentDidMount: function() {
      var that = this;
      firebase.auth().onAuthStateChanged((user) => {
        if (!user) {
          document.location.href="/login"
        } else {
          that.setState({loading: false});
          console.log("I am connected to Firebase!: "+user.email);
        }
      })
    },

  render: function() {
    if (!this.state.loading) {
    var form = (
      <div className="container">
        <form className="form-signin" method="POST" action="/notification/new">
          <h2 className="form-signin-heading">New simple notification</h2>
          <label>Text to send</label>
          <input type="text" id="inputTitle" className="form-control" name="text" placeholder="text" required />
          <br/>
          <br/>
          <button className="btn btn-lg btn-primary btn-block" type="submit">Send</button>
        </form>
      </div>
    );
  } else {
    var form = "[NOTIFICATION] Loading... (Checking for authentication right)"
  }

    return (
      <div className="container">
        {form}
      </div>
    );
  }
});


ReactDOM.render(
  <NotificationComponent/>,
  document.getElementById('content')
);
</script>
