<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<div id="content"></div>
<div class="loader"></div>

<script type="text/babel">

var firebaseRef = firebase.database();

var PostComponent = React.createClass({

  getInitialState: function() {
    return {
      data: [],
      loading: true
    };
  },

  endLoader: function() {
    document.getElementsByClassName("loader")[0].style.display = 'none';
  },

  componentDidMount: function() {
    var that = this;
    firebase.auth().onAuthStateChanged((user) => {
      if (!user) {
        document.location.href="/login"
      } else {
        console.log("I am connected to Firebase!: "+user.email);
        firebase.database().ref('posts/').on('value', function(snapshot) {
          var array = $.map(snapshot.val(), function(value, index) {
              return [value];
          });
          that.endLoader();
          that.setState({data: array});
          that.setState({loading: false});
        });
      }
    })
  },

  render: function() {
    if (!this.state.loading){
    var posts = this.state.data.map(function(post) {
      var img = "";
      var divStyleImg = {
        width: 470,
        height: 352
      };
      console.log(post.title);
      if (post.imagePresents == true) {
        //img = <img className="image" src={"data:image/gif;base64,"+post.imageData} style={divStyleImg}/>
        img = <img className="image" src={post.imageURL} style={divStyleImg}/>
      }
      return (
        <div className="panel-group" key={post.timestamp}>
        <div className="panel panel-default">
        <div className="panel-heading"> {post.title}</div>
        <div className="panel-body">
          {post.description}
          <br/>
          <br/>
          {img}
        </div>
        </div>
        </div>
      );
    });
    posts = posts.reverse();
  } else {
    var posts = "[POST] Loading... (Checking for authentication right)"
  }
    return (
      <div className="container">
      <h2>Post | Notification</h2>
      {posts}
      </div>
    )}

});


ReactDOM.render(
  <PostComponent/>,
  document.getElementById('content')
);
</script>
