<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.image {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

<div id="content"></div>
<div class="loader"></div>
<!-- <script type="text/javascript" src="/react/posts/postsBrowserified.js"></script> -->

<script type="text/babel">

var firebaseUrl = "https://amicale.firebaseio.com/";

var Posts = React.createClass({
  mixins: [ReactFireMixin],

  getInitialState: function() {
    return {
      data: []
    };
  },

  componentWillMount: function() {
    // Here we bind the component to Firebase and it handles all data updates,
    // no need to poll as in the React example.
    console.log("componentWillMount");
    this.bindAsArray(new Firebase(firebaseUrl + "posts"), "data");
  },

  render: function() {
    var posts = this.state.data.map(function(post) {
      document.getElementsByClassName("loader")[0].style.display = 'none';
      var img = "";
      var divStyleImg = {
        width: 470,
        height: 352
      };
      console.log(post.title);
      if (post.imagePresents == true) {
        img = <img className="image" src={"data:image/gif;base64,"+post.imageData} style={divStyleImg}/>
      }
      return (
        <div className="panel-group" key={post.timestamp}>
        <div className="panel panel-default">
        <div className="panel-heading"> {post.title}</div>
        <div className="panel-body">
          {post.description}
          <br/>
          <br/>
          {img}
        </div>
        </div>
        </div>
      );
    });
    posts = posts.reverse();
    return (
      <div className="container">
      <h2>Post | Notification</h2>
      {posts}
      </div>
    );
  }
});

ReactDOM.render(
  <Posts/>,
  document.getElementById('content')
);
</script>
